In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
from sklearn.ensemble import RandomForestRegressor
%matplotlib inline

In [2]:
df = pd.read_excel("DATASET LENGKAP (7).xlsx")
df.shape[0]

149

In [3]:
df.describe()

       JUMLAH KURSI          HARGA    HARGA BBM    JARAK(KM)
count    149.000000     149.000000   149.000000   149.000000
mean      36.483221  393489.932886  6659.261745   819.221477
std        6.169458  178369.780552   631.416355   345.843326
min       22.000000   70000.000000   680.000000   245.000000
25%       34.000000  250000.000000  6800.000000   653.000000
50%       38.000000  350000.000000  6800.000000   653.000000
75%       40.000000  490000.000000  6800.000000  1101.000000
max       50.000000  900000.000000  6800.000000  1613.000000

In [4]:

# df = pd.DataFrame({'AC', 'SELIMUT'})

df = df.replace({True:1, False:0})

df.head()

,Loket,TIPE BUS,DARI,KE,JUMLAH KURSI,AC,SELIMUT,BANTAL,KURSI l,KURSI XL,...,TOILET,WIFI,MAKAN,MINUM,CHARGING STATION,SMOKING ROOM,SANDARAN KAKI,HARGA,HARGA BBM,JARAK(KM)
0,Sempat Star,SLEEPER 33,MEDAN,PEKAN BARU,33,1,1,1,0,0,...,1,1,1,1,1,0,0,700000,6800,653
1,ARMADA INDAH SUMATERA,HD,MEDAN,BANDA ACEH,38,1,1,1,1,0,...,1,0,0,0,1,1,0,250000,6800,600
2,Kurnia Anugrah Pusaka,EXECUTIVE AW UHD,MEDAN,BANDA ACEH,38,1,1,1,0,1,...,1,0,0,0,1,0,0,300000,6800,600
3,Kurnia Anugrah Pusaka,AW,MEDAN,BANDA ACEH,38,1,1,1,0,1,...,1,0,0,0,1,0,0,280000,6800,600
4,HARAPAN INDAH,PATAS,MEDAN,BANDA ACEH,38,1,0,1,1,0,...,1,0,0,0,1,1,0,220000,6800,600

In [5]:

df.shape[0]

149

In [6]:
df.drop_duplicates()

,Loket,TIPE BUS,DARI,KE,JUMLAH KURSI,AC,SELIMUT,BANTAL,KURSI l,KURSI XL,...,TOILET,WIFI,MAKAN,MINUM,CHARGING STATION,SMOKING ROOM,SANDARAN KAKI,HARGA,HARGA BBM,JARAK(KM)
0,Sempat Star,SLEEPER 33,MEDAN,PEKAN BARU,33,1,1,1,0,0,...,1,1,1,1,1,0,0,700000,6800,653
1,ARMADA INDAH SUMATERA,HD,MEDAN,BANDA ACEH,38,1,1,1,1,0,...,1,0,0,0,1,1,0,250000,6800,600
2,Kurnia Anugrah Pusaka,EXECUTIVE AW UHD,MEDAN,BANDA ACEH,38,1,1,1,0,1,...,1,0,0,0,1,0,0,300000,6800,600
3,Kurnia Anugrah Pusaka,AW,MEDAN,BANDA ACEH,38,1,1,1,0,1,...,1,0,0,0,1,0,0,280000,6800,600
4,HARAPAN INDAH,PATAS,MEDAN,BANDA ACEH,38,1,0,1,1,0,...,1,0,0,0,1,1,0,220000,6800,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,PO SAN,SUPER HIGH DECK DOUBLE GLASS,LAMPUNG,PEKAN BARU,50,1,0,0,1,0,...,1,0,0,0,0,0,0,630000,6800,1044
145,LORENA,HIGH DECK,LAMPUNG,PEKAN BARU,32,1,1,1,1,0,...,0,0,0,0,0,0,0,565000,6800,930
146,DELIMA SRI GEMILANG,BIG BUS SLEEPER,LAMPUNG,PALEMBANG,32,1,1,1,0,0,...,1,1,1,1,1,0,1,70000,6800,256
147,PO SAN,SUPER HIGH DECK DOUBLE GLASS,LAMPUNG,PEKAN BARU,50,1,0,0,1,0,...,1,0,0,0,0,0,0,380000,6800,245
148,DAMRI,REGULAR BUS,LAMPUNG,JAKARTA,30,1,0,0,0,0,...,0,0,0,0,0,0,0,250000,6800,250

In [7]:
df.head(10000)

,Loket,TIPE BUS,DARI,KE,JUMLAH KURSI,AC,SELIMUT,BANTAL,KURSI l,KURSI XL,...,TOILET,WIFI,MAKAN,MINUM,CHARGING STATION,SMOKING ROOM,SANDARAN KAKI,HARGA,HARGA BBM,JARAK(KM)
0,Sempat Star,SLEEPER 33,MEDAN,PEKAN BARU,33,1,1,1,0,0,...,1,1,1,1,1,0,0,700000,6800,653
1,ARMADA INDAH SUMATERA,HD,MEDAN,BANDA ACEH,38,1,1,1,1,0,...,1,0,0,0,1,1,0,250000,6800,600
2,Kurnia Anugrah Pusaka,EXECUTIVE AW UHD,MEDAN,BANDA ACEH,38,1,1,1,0,1,...,1,0,0,0,1,0,0,300000,6800,600
3,Kurnia Anugrah Pusaka,AW,MEDAN,BANDA ACEH,38,1,1,1,0,1,...,1,0,0,0,1,0,0,280000,6800,600
4,HARAPAN INDAH,PATAS,MEDAN,BANDA ACEH,38,1,0,1,1,0,...,1,0,0,0,1,1,0,220000,6800,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,PO SAN,SUPER HIGH DECK DOUBLE GLASS,LAMPUNG,PEKAN BARU,50,1,0,0,1,0,...,1,0,0,0,0,0,0,630000,6800,1044
145,LORENA,HIGH DECK,LAMPUNG,PEKAN BARU,32,1,1,1,1,0,...,0,0,0,0,0,0,0,565000,6800,930
146,DELIMA SRI GEMILANG,BIG BUS SLEEPER,LAMPUNG,PALEMBANG,32,1,1,1,0,0,...,1,1,1,1,1,0,1,70000,6800,256
147,PO SAN,SUPER HIGH DECK DOUBLE GLASS,LAMPUNG,PEKAN BARU,50,1,0,0,1,0,...,1,0,0,0,0,0,0,380000,6800,245
148,DAMRI,REGULAR BUS,LAMPUNG,JAKARTA,30,1,0,0,0,0,...,0,0,0,0,0,0,0,250000,6800,250

In [8]:
# df.plot(x= [ 'AC',	'SELIMUT'	,'BANTAL',	'KURSI l',	'KURSI XL',	'KURSI XLL'	,'NON STOP'	,'SLEEPER'	,'TOILET'	,'WIFI'	,'MAKAN',	'MINUM','CHARGING STATION', 'SMOKING ROOM', 'SANDARAN KAKI', 'JARAK(KM)', 'HARGA BBM'], y='HARGA')

In [9]:



X = df[[ 'AC',	'SELIMUT'	,'BANTAL',	'KURSI l',	'KURSI XL',	'KURSI XLL'	,'NON STOP'	,'SLEEPER'	,'TOILET'	,'WIFI'	,'MAKAN',	'MINUM','CHARGING STATION', 'SMOKING ROOM', 'SANDARAN KAKI', 'JARAK(KM)', 'HARGA BBM']]
# X = df.drop(['HARGA', 'NO'], axis = 1)

y = df['HARGA']
# y = y[int(len(y)-1)]

# print(y)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [11]:
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error


# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Linear Regression with L1 Regularization (Lasso)
lasso = Lasso(alpha=0.1)  # alpha controls the strength of regularization
lasso.fit(X_train_scaled, y_train)
lasso_predictions = lasso.predict(X_test_scaled)

lasso_mse = mean_squared_error(y_test, lasso_predictions)
print(f"Lasso MSE: {lasso_mse}")

# Linear Regression with L2 Regularization (Ridge)
ridge = Ridge(alpha=0.1)  # alpha controls the strength of regularization
ridge.fit(X_train_scaled, y_train)
ridge_predictions = ridge.predict(X_test_scaled)

ridge_mse = mean_squared_error(y_test, ridge_predictions)
print(f"Ridge MSE: {ridge_mse}")

Lasso MSE: 4479293320.723519
Ridge MSE: 4468448610.851978

In [12]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestRegressor(n_estimators=100)

model.fit(X_train, y_train)
print(model.estimators_[0])

DecisionTreeRegressor(max_features=1.0, random_state=457500442)

In [13]:
from sklearn.metrics import classification_report

# y_pred = model.predict([[1,1,1,0,0,0,0,1,0,1,1,1,1,1,1,600,6800]])
y_pred = model.predict(X_test)
# print(model.estimators_[0])
# print(classification_report(y_test, y_pred))

In [14]:
from sklearn.tree import DecisionTreeRegressor

DT = DecisionTreeRegressor()

DT.fit(X_train, y_train)

DecisionTreeRegressor()

In [15]:
from sklearn.metrics import mean_squared_error, r2_score

predict = model.predict(X_test)

mse = mean_squared_error(y_test, predict)
r2 = r2_score(y_test, predict)

print(mse)
print(r2)

2040328396.4510376
0.9268397214378329

In [16]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
# Lakukan K-Fold Cross Validation
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_val_score(model, X, y, cv=kfold, scoring='neg_mean_squared_error')  # Ganti 'r2' dengan metrik yang Anda inginkan

# Tampilkan hasil evaluasi untuk setiap lipatan
for i, score in enumerate(scores):
    print(f"Lipatan ke-{i+1} R-squared: {score}")

# Hitung rata-rata dari evaluasi
mean_score = scores.mean()
print(f"Rata-rata R-squared: {mean_score}")

Lipatan ke-1 R-squared: -1874784784.2668178
Lipatan ke-2 R-squared: -2913017596.508487
Lipatan ke-3 R-squared: -3135951480.1029005
Lipatan ke-4 R-squared: -15220279173.34929
Lipatan ke-5 R-squared: -5512291938.174682
Rata-rata R-squared: -5731264994.480436

In [17]:
import pickle
filename = 'prediction_model.sav'
pickle.dump(model,open(filename,'wb'))

In [18]:
object_file = pickle.load(open('prediction_model.sav','rb'))

In [22]:
testing = object_file.predict([[1,1,1,1,0,0,0,0,1,1,0,0,0,0,0,653,6800]])

print(testing)

[306525.]

/home/tamir/.local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [21]:
import numpy as np

# Contoh nilai sampel pada simpul ke-n
nilai_sampel = np.array([400000,325000])

# Menghitung nilai rata-rata dari sampel pada simpul ke-n
nilai_rata_rata = np.mean(nilai_sampel)

# Menghitung jumlah sampel (n)
jumlah_sampel = len(nilai_sampel)

# Menghitung MSE berdasarkan rumus yang diberikan
MSE = np.sum((nilai_sampel - nilai_rata_rata)**2) / jumlah_sampel

print("Nilai Sampel:", nilai_sampel)
print("Nilai Rata-rata Sampel:", nilai_rata_rata)
print("Jumlah Sampel:", jumlah_sampel)
print("Nilai MSE:", MSE)

Nilai Sampel: [400000 325000]
Nilai Rata-rata Sampel: 362500.0
Jumlah Sampel: 2
Nilai MSE: 1406250000.0